{% extends 'core/base.html' %}

{% block content %}
<section class="max-w-6xl mx-auto px-6 py-20">
    <h1 class="text-4xl font-bold mb-10" data-aos="fade-up">Projects</h1>

    <div class="grid md:grid-cols-3 gap-6">
        {% for project in projects %}
        <div class="bg-gray-900 p-6 rounded-xl hover:scale-105 transition transform"
             data-aos="zoom-in">

            <h3 class="text-xl font-bold text-blue-400">{{ project.title }}</h3>
            <p class="text-gray-400 mt-2">{{ project.description }}</p>
            <p class="text-sm text-gray-500 mt-2">{{ project.tech_stack }}</p>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}